<% @title = "Audoscale Sample App" %>

<div class="prose max-w-none">
  <p>
    Hey! We’re <a href="https://judoscale.com" target="_blank">Judoscale</a>.
    We built this tiny Rails app for testing autoscalers.
  </p>

  <p>
    Use the form below to reload this page with a configurable processing time.
    Submit the form with cmd-tab (or ctrl-tab) to fire a bunch of requests in succession.
    Depending on your server capacity, you should start to see a slow-down due to
    request queueing. If you’ve configured autoscaling, this should trigger an upscale.
  </p>
</div>

<%= form_with model: @latency, url: false, method: :get do |form| %>
  <div class="border-t pt-12 space-y-10">
    <%= field do %>
      <%= label "How long do you want the request to take?" %>
      <%= radio_buttons form, :ms, latency_opts %>
    <% end %>

    <%= button_row "Send request" %>
  </div>
<% end %>
